.header {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .one-card-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center; 
    margin-bottom: 40px; 
    padding: 20px;
   
    border-radius: 10px;
   
  }
  
  .one-card-items h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: aliceblue;
  }
  

  .one-card-items img {
    max-width: 259px; 
    margin-left: 20px; 
  }
  
  .one-card-items ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .one-card-items ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
  }
  
  .one-card-items ul img {
    margin-right: 10px; 
  }
  
  .one-card-items ul h5 {
    color: aliceblue;
    font-size: 1em;
    font-weight: normal;
  }
  
  
  @media (max-width: 768px) {
    .one-card-items {
      flex-direction: column; 
      text-align: center;
    }
  
    .one-card-items img {
      margin: 20px 0 0 0; 
      max-width: 250px;
    }
  }
  